<div class="container">
  <form (ngSubmit)="addProduct()">
    Enter name : <input type="text" name="pname" value=""><br>
    Enter code : <input type="text" name="pcode" value=""><br>
    Release Date : <input type="date" name="pdate" value=""><br>
    Enter Description : <input type="text" name="pname" value=""><br>
    Enter price : <input type="number" name="pprice" value=""><br>
    Enter Star Rating : <input type="number" name="prating" value=""><br>
    <button type="submit">Add Product</button>
  </form>
</div>
