<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">{{helper_text}}</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">Jumbo action name</a>
    </p>
    <a routerLink="Show" class="mx-2"><button class="btn btn-outline-success" type="button">Show Products</button></a>

    <a routerLink="Add"><button class="btn btn-outline-success" type="button">Add Products</button></a>
  </div>
</div>
